
.navigation {
  text-align: center;
  background-color: gray;
  padding: 35px;
}

li {
  display: inline;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid black;
  word-spacing: 10px;
}

ul {
  word-spacing: 25px;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 30px;
}

h1, li {
  font-family: 'Georgia', serif;
}

h1 {
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  float: left;
}

img {
  height: 600px;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

img:hover {
  opacity: 50%;
}

.container {
  text-align: justify;
  font-family: Arial, sans-serif;
  max-width: 1025px;
  position: relative;
}

/* span */
span {
  color: red;
  border: 1px solid red;
}

/* animation */
@keyframes cat {
  0% {float: left;}
  50% {opacity: 50%}
  100% {float: right;}

}

.animation {
  animation-name: cat;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


.animation img {
  height: 300px;
}
